$navbar-height: 7vh;
$links-height: calc(100vh - #{$navbar-height});

.navbar {
    background-color: #db0000;
    height: $navbar-height;
    padding: 0;

    .fas {
        color: white;
        font-size: 2em;
        margin-left: 0.5em;
    }

    .nav-menu {
        display: none;
        position: absolute;
        width: 100%;
        height: $links-height;
        margin: 0;
        top: $navbar-height;
        background-color: #db0000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        li {
            margin-bottom: 3em;
        }
        .nav-links {
            text-decoration: none;
            color: white;
            font-size: 1.5em;
            
            &:hover {
                text-decoration: none;
                color: #900000;
            }
        }
    }
    .active {
        display: flex;
    }
}

