.navbar {
    background-color: #db0000;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.nav-links {
    text-decoration: none;
    color: white;
    
    &:hover {
        text-decoration: none;
        color: #900000;
    }
}