.done-exercise {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    h3 {
        color: #21db00;
        font-size: 3em;
    }
}