.header-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    
    .workout-title {
        color: rgba(0,0,0,0.5);
        font-size: 1.5em;
    }

}

.header-exercise {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;

    // height: 60px;

    i {
        font-size: 1.75em;
    }

    .exercise-title {
        margin: 0 1em;
        font-size: 1.5em;
    }

}

i {
    color: rgba(0,0,0,0.3) 
}

.control-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    background-color: #dddada;

    .small-btn {
        padding: 0.5em 0.75em;
        font-size: 1em;
    }
    
    .active {
        // background-color: #c5c5c5;
        border-bottom: 2px solid #db0000;
    }
}

table {
    border-collapse: collapse; 
}

.sets-table {
    width: 100%;
    margin: 1em 0;
    font-size: 1.1em;

    tr {
        border-bottom: 2px solid #db0000;
    }

    .saved-set {
        background-color: #e5fbd6;
    }

    tbody {

        th:first-child, td:first-child {
            padding-left: 0.75em;
        }
        
        th {
            padding-bottom: 0.5em;
        }

        td {
            text-align: center;
            padding: 0.5em 0;
            input {
                text-align: center;
                width: 70px;
                padding: 0.5em;
                font-size: 1em;                
            }
            small {
                color: grey;
                padding-left: 0.5em;
            }
            i {
                padding-right: 0.5em;
            }
        }
    }
}

.btn-workout-add-set {
    margin-bottom: 0.5em;
}

.btn-low-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
}