.dashboard {
    justify-content: center;
    .profile-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3em;
        border: 2px solid #db0000;
        margin-bottom: 1em;

        * {
            margin-bottom: 10px;
        }
    }

    .delete-user {
        margin: 3em 3em;
        cursor: pointer;
    }

}