.history {
    width: 100%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .history-log {
        width: 100%;

        .date {
            border-bottom: 2px solid #db0000;
            h4 {
                margin-left: 1em;
            }
        }

        .sets {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 1em 1em 1em;

            .set {
                display: flex;
                justify-content: space-between;
                
                div {
                    width: 33%;
                    
                }

                .set-number {
                    width: 20%;
                    text-align: start;
                }

                .reps-number {
                    width: 40%;
                    text-align: end;
                }

                .weight-number {
                    width: 40%;
                    text-align: end;
                }
            }
        }
    }

    .no-history {
        margin-top: 3em;
    }
}
